body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.theme-dark .theme-light-dark-fix {
  filter: none !important;
}

.navbar-brand-image {
  filter: none !important;
}

.modal {
  z-index: 100 !important;
  overflow: visible !important;
  position: absolute !important;
}

.search-input {
  width: 140px !important;
}
